body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
  
  #__next {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #383343;
    background: linear-gradient(120deg, #171734, #4d3b4e);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .marvel-device {
    transform: scale(0.8);
    box-shadow: 0px 40px 50px 0px #160c0f7c, 0 20px 200px 0px #4727307c !important;
  }
  
  .swipe {
    text-align: center;
    margin: 30px;
    padding: 0;
    touch-action: none;
  }
  
  .greet {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-size: 10em;
  }
  
  .page {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem; */
  }
  
  .hello {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #0072ff,
      #00c6ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #0072ff,
      #00c6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .about {
    background: #9d50bb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #6e48aa,
      #9d50bb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #FF4B33,
      #9234E4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 84px;

position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 644px;

background: #9234E4;
border-radius: 15px;
border: transparent;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;
}

.input-email {
    position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 468px;

background: #FFFFFF;
border-radius: 15px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Text colours / Charcoal secondary */
color: #6A6A6A;
  }

.input-password {
    position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 540px;

background: #FFFFFF;
border-radius: 15px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Text colours / Charcoal secondary */
color: #6A6A6A;
}

.problemlogin{
    position: absolute;
width: 344px;
height: 20px;
left: 16px;
top: 716px;

/* Body / B2-Bold */
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
text-align: center;

color: #FFFFFF;
}

.backToFirstPage {
  position: absolute;
  width: 344px;
  height: 20px;
  left: 16px;
  top: 716px;
  text-align: center;
  color: black;
}

.contact-email {
  position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 468px;

background: #FFFFFF;
border-radius: 15px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Text colours / Charcoal secondary */
color: #6A6A6A;
}

.contact-subject{
  position: absolute;
  width: 344px;
  height: 56px;
  left: 16px;
  top: 540px;
  
  background: #FFFFFF;
  border-radius: 15px;
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  
  /* Text colours / Charcoal secondary */
  color: #6A6A6A;
}

.contactformthankyou {
  position: absolute;
  width: 344px;
  height: 56px;
  left: 16px;
  top: 468px;
  
  background: #FFFFFF;
  border-radius: 15px;
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
}

.welcomepage {
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: left;
  margin: 1em;
  margin-top: 50%;
}
.textCenter{
  text-align: center;
}
.trulyLogin {
  position: absolute;
width: 233px;
height: 48px;
left: 90px;
top: 353px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 46px;
/* or 79% */


color: #FFFFFF;
}

.loginButton {
  background: none;
  border: 2px solid white;/* this is for button border*/
}
a {
  text-decoration: none;
  color: white;
}



  