body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
  
  #__next {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #383343;
    background: linear-gradient(120deg, #171734, #4d3b4e);
   /*  background-image: url(./public/static/WelcomeToTruly2.png); */
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .marvel-device {
    transform: scale(0.8);
    box-shadow: 0px 40px 50px 0px #160c0f7c, 0 20px 200px 0px #4727307c !important;
  }
  
  .swipe {
    text-align: center;
    margin: 30px;
    padding: 0;
    touch-action: none;
  }
  
  .greet {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-size: 10em;
  }
  
  .page {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem; */
  }
  
  .hello {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #0072ff,
      #08a2cc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #0072ff,
      #00c6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .about {
    background: #9d50bb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #6e48aa,
      #9d50bb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #E03E5B,
      #8E2Ce0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 84px;

position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 644px;

/* background: #9234E4; */
/* background-color: grey; */
border-radius: 15px;
border: transparent;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;
}
.cont {
  background-color: grey;
}
.cont2{
  background-color: #9234E4;
}
.cont3 {
  background-color: #9234E4;
}
.cont4 {
  background-color: gray;
}

.input-email {
    position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 468px;

background: #FFFFFF;
border-radius: 15px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Text colours / Charcoal secondary */
color: #6A6A6A;
  }

.input-password {
    position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 540px;

background: #FFFFFF;
border-radius: 15px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Text colours / Charcoal secondary */
color: #6A6A6A;
}

.problemlogin{
    position: absolute;
width: 344px;
height: 20px;
left: 16px;
top: 716px;

/* Body / B2-Bold */
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
text-align: center;

color: #FFFFFF;
}

.backToFirstPage {
  position: absolute;
  width: 344px;
  height: 20px;
  left: 16px;
  top: 716px;
  text-align: center;
  color: black;
  font-size: 25px;
}

.contact-email {
  position: absolute;
width: 344px;
height: 56px;
left: 16px;
top: 468px;

background: #FFFFFF;
border-radius: 15px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Text colours / Charcoal secondary */
color: #6A6A6A;
}

.contact-subject{
  position: absolute;
  width: 344px;
  height: 56px;
  left: 16px;
  top: 540px;
  
  background: #FFFFFF;
  border-radius: 15px;
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  
  /* Text colours / Charcoal secondary */
  color: #6A6A6A;
}

.contactformthankyou {
  position: absolute;
  width: 344px;
  height: 56px;
  left: 16px;
  top: 468px;
  
  background: #FFFFFF;
  border-radius: 15px;
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
}

.contactText {
  position: static;
width: 344px;
height: 68px;
left: 0px;
top: 0px;

/* Body/B1 - Medium */
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 56px 0px;
margin-top: 450px;
margin-left: 14px;
}

.welcomepage {
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  /* identical to box height, or 150% */
  text-align: left;
  margin: 1em;
  margin-top: 10%;
}
.welcomeheader{
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* or 122% */

text-align: center;

color: #000000;
}
.textCenter{
  text-align: center;
}
.trulylist{
 
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
/* or 144% */

letter-spacing: 0.02em;

color: #000000;

}
.trulyLogin {
  position: absolute;
width: 233px;
height: 48px;
left: 90px;
top: 353px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 46px;
/* or 79% */


color: #FFFFFF;
}

.loginButton {
  background: none;
  border: 2px solid white;/* this is for button border*/
}
a {
  text-decoration: none;
  /* color: white; */
}
.testPages {

  
  /* Body/B1 - Medium */
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1em;
  margin-top: 80%;
}

.questionText{
  margin-top: 80%;
  text-align: center;
}

.textChoice{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 10x;
  line-height: 15px;
  display: flex;
  margin-top: 23%;
  margin-left: 1em;
  margin-right: 1em;
}
.lefthChoice{
  text-align: left;
}
.rightChoice{
  flex-grow: 1;
  text-align: right;
}

.questionText2{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: flex;
  
  text-align: center;

  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}

 input{
 appearance: none;
}

.testLayout{
  margin-top: 10%;
  position: absolute;
}

.testButtonLayout{
  padding: 8px 8px;
  float: left;
  position: static;
  width: 20px;
  height: 20px;
  left: 35%;
  
  background: #C593F1;
  border-radius: 10px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  
  margin: 8px;
}

.testButtonLayout:after {
  content: "";
  clear: both;
  display: table;
  background: yellow;
}

.testButtonLayout:focus {
  background: #9234E4;
}

.testNumber{
  margin-top: -18px;
  margin-left: 6px;
}

.testButtonLayout button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.testButtonLayout button:hover {
  background-color: #3e8e41;
}

.indexButtonLogin{

  position: absolute;
  width: 344px;
  height: 56px;
  left: 16px;
  top: 468px;
  background: none;
  
  border: 2px solid white;/* this is for button border*/
 
}

.indexButtonLoginColor{
color: white;
}

.indexButtonCreateAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 84px;

  position: static;
  width: 344px;
  height: 56px;
  left: 0px;
  margin-top: 100%;

  background-color: white;
  border-radius: 15px;
  color: #AA33B2;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin:0px;
  margin-top: 90%;
}

.readMoreLink {
  text-decoration: underline;
  color: black;
  color: #0072ff;
}

.relationalfirstText{

position: absolute;
width: 344px;
height: 84px;
left: 16px;
top: 144px;

/* Heading Mobile / H3 */

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
/* or 123% */

text-align: center;

color: #000000;

}
.undvikande{
  align-items: center;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
margin-top: 55%;
text-align: center;

  color: #AA33B2;
}


.scoreReveal{
 text-align: center;
 position: absolute;
 width: 344px;
 height: 120px;
 left: 16px;
 top: 260px;


font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #000000;
}

.informationText{
  position: absolute;
width: 344px;
height: 120px;
left: 16px;
top: 300px;

/* Heading Mobile/Body/Body 1 Bold */

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #000000;
}

.descriptiveText{
  position: absolute;
  width: 344px;
  height: 165px;
  left:px;
  top: 407px;
  
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  
  letter-spacing: 0.02em;
  
  color: #000000;
}
.logo{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 46px;
  /* or 144% */
  align-items: center;
  text-align: center;
  color: #212939;
  }
  .avoiding{
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
/* identical to box height, or 123% */

text-align: center;

color: #AA33B2;
}

.readMoreDropDown {
text-align: left;
color: black;
margin-left: 1em;
margin-top: 50%;

height: 100%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;

color: black;
}
.dropdown{
  color: black;
  margin-left: 2em;
  position: absolute;
  align-items: left;
  height: fit-content;
}
.dropdown2 {
  color: black;
  margin-left: 17em;
  position: absolute;
}
.dropdownDivider{
  align-items: center;
  text-align: center;
  margin-left: 1px;
}




.DropDownMenu{
  position: absolute;
margin: 2em;
margin-left: 15%;
margin-top: 25%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: black;
text-decoration: none;

}

.Icons{
  margin-top: 100px;
  margin-left: 2px;
  position: absolute;
}
.Arrow{
   margin-top: 100px;
  position: absolute;
  margin-left: 300px
}
.Links{
  margin-bottom: 40px;
}
.LinksDiv{
  position: relative;
  margin-top: 25%;
}
.Line {
  margin-left: 4%;
  margin-top: 30%;
  position: absolute;
  color: #DDDDDD;
}















  